:root{
    --color-1: black;
	--color-2: white;
	--color-3: grey;
	--color-4: #1B4D3E;
	--color-5: #1B4D3E;
}

body{
	background-color: var(--color-1); 
	color: var(--color-2);
	
	display:flex; min-height:100vh; flex-direction:column;
}

content{
	margin-bottom: auto;
}

.jumbotron{ padding:20px;}


#homegames{
	background-color: var(--color-3);; 
	color: var(--color-2);
}